<%= render "shared/header" %>
<div class='main'>
  <div class="home_text1">
    <h2 class="h2-tag">QUESTはあなたの挑戦を応援するためのToDoアプリです。</h2>
    <p>理想の体を手に入れる、将来のために資格を取る、欲しいものを手に入れる……そんなあなたの夢が現実になる過程を、目に見える形にしてみませんか？</p>
    <p>ゲームで有名な「クエスト」ですが、英語での意味は探求・追求すること、あるいは冒険の旅を指します。</p>
    <p>そして、それらが達成されると、「目的」を果たすことができるようになりますね。</p>
  </div>
  <div class="image-bord1">
      <%= image_tag "fantasy_maou_devil.png", class:"image-list" %>
      <%= image_tag "kaizoku_takara.png", class:"image-list"%>
      <%= image_tag "royal_princess.png", class:"image-list"%>
  </div>
  <div class="home-text2">
    <p>ですが、現実ではゲームほどに分かりやすく「達成条件」は明らかになってはいません。</p>
    <p>ゴールは決まっているけれど、「何をすればいいのか」は分からない</p>
    <p>自分に厳しいことが正しいはずだから、とりあえずハードなメニューを設定してみればいいのかな……？</p>
    <p>やる気が持たない……</p>
    <p>クエスト失敗の理由は、人それぞれですが、それを夢そのものを諦める理由にしてしまうのはもったいないですよね。</p>
    <p>QUESTでは、自分自身で「クエスト達成条件」を設定することができます。</p>
    <p>自分にできることから目標を細かく具体的に書くことで、成功確率を上げて行きましょう。</p>
    <p>遠い先を見ながら、今できることを確実に行う。そんな当たり前の手助けをするのがQUESTです。</p>
  </div>
</div>