* {
  margin: 0;
  padding: 0;
}

.top-page-footer {
  height: 500px;
  width: 100vw;
  background-image: image-url('wood-wall.jpg');
  background-repeat: no-repeat;
  background-color: rgb(0, 255, 234);
  // background-position: right 50% top 50px;
  padding: 2vh 5vw;
  // display: flex;
  text-shadow    : 
  2px  2px 1px #ffffff,
 -2px  2px 1px #ffffff,
  2px -2px 1px #ffffff,
 -2px -2px 1px #ffffff,
  2px  0px 1px #ffffff,
  0px  2px 1px #ffffff,
 -2px  0px 1px #ffffff,
  0px -2px 1px #ffffff;
}

.footer-text {
  text-align: center;
  margin-top: 10px;
  color          : #ffffff;
  letter-spacing : 4px;
  text-shadow    : 
  2px  2px 6px #990000,
  -2px  2px 6px #990000,
  2px -2px 6px #990000,
  -2px -2px 6px #990000,
  2px  0px 6px #990000,
  0px  2px 6px #990000,
  -2px  0px 6px #990000,
  0px -2px 6px #990000;
}

.door {
  position: relative;
  left:  450px;
  top: 10px;
}

.lists-right {
  margin-top: 10px;
  display: flex;
  list-style: none;
  justify-content: center;
  // align-items: flex-end;
}

.front-footer-login {
  margin-right: 20px;
  display       : inline-block;
  border-radius : 5%;
  font-size     : 16pt;
  text-align    : center;
  cursor        : pointer;
  padding       : 12px 12px;
  background    : #999999;
  color         : #000000;
  line-height   : 1em;
  transition    : .3s;
  box-shadow    : 1px 1px #666666;
  border        : 2px solid #999999;
}
.front-footer-login:hover {
  box-shadow    : none;
  color         : #999999;
  background    : #000000;
}

.front-footer-sign-up {
  display       : inline-block;
  border-radius : 5%;
  font-size     : 16pt;
  text-align    : center;
  cursor        : pointer;
  padding       : 12px 12px;
  background    : #999999;
  color         : #000000;
  line-height   : 1em;
  transition    : .3s;
  box-shadow    : 1px 1px #666666;
  border        : 2px solid #999999;
}
.front-footer-sign-up:hover {
  box-shadow    : none;
  color         : #999999;
  background    : #000000;
}