* {
  box-sizing: border-box;
}

.top-page-header {
  height: 300px;
  width: 100vw;
  padding: 2vh 5vw;
  display: flex;
  text-shadow    : 
  2px  2px 1px #ffffff,
 -2px  2px 1px #ffffff,
  2px -2px 1px #ffffff,
 -2px -2px 1px #ffffff,
  2px  0px 1px #ffffff,
  0px  2px 1px #ffffff,
 -2px  0px 1px #ffffff,
  0px -2px 1px #ffffff;
  background-repeat:no-repeat;
  background-size:  cover;
}

.morning {
  background-image: image-url('morning_sky.jpeg');
}
.morning2 {
  background-image: image-url('morning_sky2.jpeg');
}
.morning3 {
  background-image: image-url('morning_sky3.jpeg');
}
.noon {
  background-image: image-url('noon_sky.png');
}
.noon2 {
  background-image: image-url('noon_sky2.jpeg');
}
.noon3 {
  background-image: image-url('noon_sky3.jpeg');
}
.afternoon {
  background-image: image-url('afternoon_sky.png');
}
.afternoon2 {
  background-image: image-url('afternoon_sky2.jpeg');
}
.night {
  background-image: image-url('night_sky.jpeg');
}
.night2 {
  background-image: image-url('night_sky2.jpeg');
}
.night3 {
  background-image: image-url('night_sky3.png');
}

.search-bar-contents {
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.quest-icon {
  width: 10vw;
  margin-right: 10vw;
}

.nav {
  font-size: 18px;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  width: 100%;
  padding: 1vh 0;
}

.lists-right {
  display: flex;
  list-style: none;
  align-items: flex-end;
}

.lists-left {
  display: flex;
  min-width: 200px;
}

.user-nickname {
  text-decoration: none;
  // margin-right: 3vw;
  color: rgb(173, 84, 32);
  font-weight: bold;
  border: solid;
  border-color: cadetblue;
  padding: 10px;
  background-color: chartreuse;
}


.logout {
  text-decoration: none;
  color: rgb(173, 84, 32);
  border: solid;
  border-color: cadetblue;
  padding: 10px;
  background-color: chartreuse;
}

.front-header-login {
  text-decoration: none;
  line-height: 32px;
  margin-right: 3vw;
  color: rgb(173, 84, 32);
  border: solid;
  border-color: cadetblue;
  padding: 10px;
  background-color: chartreuse;
}

.front-header-login {
  display       : inline-block;
  border-radius : 50%;
  font-size     : 16pt;
  text-align    : center;
  cursor        : pointer;
  padding       : 12px 12px;
  background    : #ffffff;
  color         : #000000;
  line-height   : 1em;
  transition    : .3s;
  box-shadow    : 1px 1px #666666;
  border        : 2px solid #ffffff;
}

.front-header-sign-up {
  display       : inline-block;
  border-radius : 50%;
  font-size     : 16pt;
  text-align    : center;
  cursor        : pointer;
  padding       : 12px 12px;
  background    : #ffffff;
  color         : #000000;
  line-height   : 1em;
  transition    : .3s;
  box-shadow    : 1px 1px #666666;
  border        : 2px solid #ffffff;
}