* {
  box-sizing: border-box;
}

.top-page-header {
  background-image: image-url('noon_sky.png');
  width: 100vw;
  padding: 2vh 5vw;
  display: flex;
}

.search-bar-contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
  white-space: nowrap;
}

.quest-icon {
  width: 10vw;
  margin-right: 10vw;
}

.nav {
  font-size: 18px;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  width: 100%;
  padding: 1vh 0;
}

.lists-right {
  display: flex;
  list-style: none;
  align-items: flex-end;
}

.lists-left {
  display: flex;
  min-width: 200px;

}

.user-nickname {
  text-decoration: none;
  margin-right: 3vw;
  color: rgb(173, 84, 32);
  font-weight: bold;
  border: solid;
  border-color: cadetblue;
  padding: 10px;
  background-color: chartreuse;
}


.logout {
  text-decoration: none;
  color: rgb(173, 84, 32);
  border: solid;
  border-color: cadetblue;
  padding: 10px;
  background-color: chartreuse;
}

.login {
  text-decoration: none;
  line-height: 32px;
  margin-right: 3vw;
  color: rgb(173, 84, 32);
  border: solid;
  border-color: cadetblue;
  padding: 10px;
  background-color: chartreuse;
}

.sign-up {
  text-decoration: none;
  color: rgb(173, 84, 32);
  border: solid;
  border-color: cadetblue;
  padding: 10px;
  background-color: chartreuse;
}