a {
  text-decoration: none;
}

.main {
  background: #f8f8f8;
}

.h2-tag {
  margin-top: 0;
}

.home_text1 {
  text-align: center;
  width: 100vw;
  background-image: image-url('wood-texture-06.png');
  margin: 0;
  padding-top: 20px;
  padding-bottom: 20px;
}

.image-bord1 {
  height: 200px;
  width: 100vw;
  background-color:white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
}

.image-list {
  height: 150px;
  width: 150px;
  margin-right: 40px;
}

.home-text2 {
  text-align: center;
  background-color: rgba(255, 235, 205, 0.788);
  width: 100vw;
  padding-top: 20px;
  padding-bottom: 20px;
}