// ユーザールームのscss
.user-room-name{
  text-align: center;
  background-color: azure;
}

.create-quest-btn {
  border: #ff6699 solid 3px; 
}

.accept-log {
  text-align: center;
  background-color: skyblue;
  font-size: 28px;
  color: orchid;
}

.create-quest  {
  display: flex;
  justify-content: center;
  font-size: 30px;
}

.quest-board {
  width: 100%;
  height: 1000px;
  list-style: none;
  background-image: image-url("wood-texture03.png");
  background-repeat: repeat;
  background-size: cover;
}

.list__wrapper {
  display: flex;
  flex-wrap: wrap;
  padding: 0 30px;
  justify-content: space-between;
  align-items: center;
}

.quest-lists {
  list-style: none;
}

.list {
  width: calc((100% - 50px) / 3);
  height: 450px;
  margin-top: 10px;
  margin-bottom: 40px;
  padding: 10px;
  overflow: scroll;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  border: #432f2f solid 3px; 
  font-size: 100%; 
  padding-left: 15px;
  padding-right: 15px;
  background-image: image-url("old-paper3.jpg");
  background-size: cover;
  background-repeat: repeat;
  background-attachment: scroll;
}

.list-name {
  text-align: center;
  font-size: 30px;
  border-bottom: 3px solid #6f514c;
}

.ichiran-list {
  margin-bottom: 10px;
}

.quest-content {
  border-bottom: 4px solid #69821b;
}

.quest-image {
  width: 256px;
  height: 160px;
}